# dsp-breakAD Configuration File
# Module 01: Infrastructure Security

################################################################################
# General Settings
################################################################################

DryRun=false
TargetDSPScore=60-70
BreakAD_RootOU=breakAD
BreakAD_UsersOU=Users
BreakAD_ComputersOU=Computers

################################################################################
# Module 01: Infrastructure Security
################################################################################

# PHASE 1: Enable dSHeuristics (Anonymous NSPI Access)
InfrastructureSecurity_EnabledSHeuristics=true
InfrastructureSecurity_dSHeuristicsValue=00000001

# PHASE 2: Enable Print Spooler on DCs
InfrastructureSecurity_EnablePrintSpooler=true

# PHASE 3: Disable LDAP Signing on DCs
InfrastructureSecurity_DisableLDAPSigning=true

# PHASE 4: Disable SMB Signing on DCs
InfrastructureSecurity_DisableSMBSigning=true

# PHASE 5: Enable SMBv1 on DCs
InfrastructureSecurity_EnableSMBv1=true

# PHASE 6: Add Anonymous to Pre-Windows 2000 Compatible Access
InfrastructureSecurity_AddAnonymousPre2000=true