################################################################################
# dsp-breakAD Configuration File
# Controls which IOEs are enabled for each module
################################################################################

################################################################################
# OU Configuration
################################################################################

BreakAD_RootOU=BreakAD
BreakAD_UsersOU=Users
BreakAD_ComputersOU=Computers

################################################################################
# Module 1: Group Policy Security
################################################################################

GroupPolicySecurity_ModifyDefaultPolicies=true
GroupPolicySecurity_LinkingChanges=true
GroupPolicySecurity_DangerousUserRights=true
GroupPolicySecurity_DangerousLogonScript=true
GroupPolicySecurity_ReversiblePasswords=true
GroupPolicySecurity_WeakLMHash=true
GroupPolicySecurity_ScheduledTasks=true
GroupPolicySecurity_WritableShortcuts=true
GroupPolicySecurity_GrantDelegation=true